// XL

@media screen and (min-width : 1200px){
  
  .xl-100{
    width: 100%;
  }
  .xl-75{
    width: 75%;
  }
  .xl-33{
    width: 66.66%;
  }
  .xl-50{
    width: 50%;
  }
  .xl-33{
    width: 33.33%;
  }
  .xl-25{
    width: 25%;
  }

}

// L

@media screen and (min-width : 1024px){

  .l-100{
    width: 100%;
  }
  .l-75{
    width: 75%;
  }
  .l-33{
    width: 66.66%;
  }
  .l-50{
    width: 50%;
  }
  .l-33{
    width: 33.33%;
  }
  .l-25{
    width: 25%;
  }
  
}

// M

@media screen and (min-width : 768px){
  
  .m-100{
    width: 100%;
  }
  .m-75{
    width: 75%;
  }
  .m-33{
    width: 66.66%;
  }
  .m-50{
    width: 50%;
  }
  .m-33{
    width: 33.33%;
  }
  .m-25{
    width: 25%;
  }

}

// S

@media screen and (max-width : 767px){

  .s-100{
    width: 100%;
  }
  .s-75{
    width: 75%;
  }
  .s-33{
    width: 66.66%;
  }
  .s-50{
    width: 50%;
  }
  .s-33{
    width: 33.33%;
  }
  .s-25{
    width: 25%;
  }
  
}

